@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #f7fbff;
  color: #1f2937;
  font-family: "Inter", sans-serif;
}

h1,h2,h3,h4,h5,h6{
  font-family:"Playfair Display",serif;
}

*{
  box-sizing:border-box;
}
